<footer>
  <div id="footer-content">
    <h6>  Created by {{getAuthor}} Copyright {{getCurrentYear}}</h6>
      <h6>Like this page!!! Donate XML for developer</h6>
        <h6>GAWEDPAQHIKNAB3WBVGL3DJBCMSNKB7RFIUA3QP2LOMDWAYDJC4M37LS</h6>
  </div>
</footer>
