<header>
  <div class="line"></div>
  <div id="header-content">
    <h1 id="header-title" class="col-lg-4">Origami Stellar Wallet </h1>
    <div id="header-menu" class="col-lg-8">
      <div class="col-lg-3"><a></a></div>
      <a class="col-lg-3">Free Style</a>
      <a class="col-lg-3">Customize Style</a>
      <a class="col-lg-3">How to use</a>
    </div>
  </div>
</header>
